<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>458592242638-q14ngva3fsh3tmhbm62inc32ig0oa3qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.458592242638-q14ngva3fsh3tmhbm62inc32ig0oa3qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>458592242638-12kgs42jdp6k16v9a50t8t7bi4khfcfv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUkpl1IWNATiR2MQxijPKcenaRxCDWoFo</string>
	<key>GCM_SENDER_ID</key>
	<string>458592242638</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.scraveit.customer</string>
	<key>PROJECT_ID</key>
	<string>savrivo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>savrivo-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:458592242638:ios:cc33a8282e416f3d44b99f</string>
	<key>DATABASE_URL</key>
	<string>https://savrivo-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>