<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <application android:name=".SavrivoApplication" android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:allowBackup="false" android:fullBackupContent="false" android:dataExtractionRules="@xml/data_extraction_rules" android:usesCleartextTraffic="false" android:supportsRtl="true">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="${SAVRIVO_MAPS_API_KEY}" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@drawable/savrivo_notification" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/savrivo_primary" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="customer_orders" />
        <service android:name=".CustomerMessagingService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity android:name=".MainActivity" android:windowSoftInputMode="adjustResize" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
